@using FinalProjectFb.Application.ViewModels
@using FinalProjectFb.Domain.Entities

@model PaginateVM<Category>
@{
	int count = 0;
}
<main>
	<div class="container">
		<div class="page-title-container">
			<div class="row g-0">
				<div class="col-auto mb-3 mb-md-0 me-auto">
					<div class="w-auto sw-md-30">
						<a href="#" class="muted-link pb-1 d-inline-block breadcrumb-back">
							<i data-acorn-icon="chevron-left" data-acorn-size="13"></i>
							<span class="text-small align-middle">Home</span>
						</a>
						<h1 class="mb-0 pb-0 display-4" id="title">Category List</h1>
					</div>
				</div>
				<div class="w-100 d-md-none"></div>
				<div class="col-12 col-sm-6 col-md-auto d-flex align-items-end justify-content-end mb-2 mb-sm-0 order-sm-3">
					<button type="button" class="btn btn-outline-primary btn-icon btn-icon-start ms-0 ms-sm-1 w-100 w-md-auto">
						<i data-acorn-icon="plus"></i>
						<a asp-action="create" asp-controller="category"><span>Add Category</span></a>
					</button>
					<div class="dropdown d-inline-block d-lg-none">
						<button type="button" class="btn btn-outline-primary btn-icon btn-icon-only ms-1" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
							<i data-acorn-icon="sort"></i>
						</button>
						<div class="dropdown-menu dropdown-menu-end custom-sort">
							<a class="dropdown-item sort" data-sort="name" asp-action="descendingOrder" asp-controller="category">Title</a>
							<a class="dropdown-item sort" data-sort="email" href="#">Stock</a>
							<a class="dropdown-item sort" data-sort="phone" href="#">Price</a>
							<a class="dropdown-item sort" data-sort="group" href="#">Status</a>
						</div>
					</div>
					<div class="btn-group ms-1 check-all-container-checkbox-click">
						<div class="btn btn-outline-primary btn-custom-control p-0 ps-3 pe-2" data-target="#checkboxTable">
							<span class="form-check float-end">
								<input type="checkbox" class="form-check-input" id="checkAll">
							</span>
						</div>
						<button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-offset="0,3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
						<div class="dropdown-menu dropdown-menu-end">
							<button class="dropdown-item" id="deleteChecked" type="button">Delete</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mb-2">
			<div class="col-sm-12 col-md-5 col-lg-3 col-xxl-2 mb-1">
				<div class="d-inline-block float-md-start me-1 mb-1 search-input-container w-100 shadow bg-foreground">
					<input class="form-control" placeholder="Search">
					<span class="search-magnifier-icon">
						<i data-acorn-icon="search"></i>
					</span>
					<span class="search-delete-icon d-none">
						<i data-acorn-icon="close"></i>
					</span>
				</div>
			</div>

		</div>
		<div class="row g-0">
			<div class="col-12 mb-5">
				<div id="checkboxTable">
					<div class="mb-4 mb-lg-3 bg-transparent no-shadow d-none d-lg-block">
						<div class="row g-0">
							<div class="col-auto sw-11 d-none d-lg-flex"></div>
							<div class="col">
								<div class="ps-5 pe-4 h-100">
									<div class="row g-0 h-100 align-content-center custom-sort">
										<div class="col-lg-4 d-flex flex-column mb-lg-0 pe-3 d-flex">
											<div class="text-muted text-small cursor-pointer sort" data-sort="name">No</div>
										</div>
										<div class="col-lg-2 d-flex flex-column pe-1 justify-content-center">
											<div class="text-muted text-small cursor-pointer sort" data-sort="email">Name</div>
										</div>
										<div class="col-lg-3 d-flex flex-column pe-1 justify-content-center">
											<div class="text-muted text-small cursor-pointer sort" data-sort="phone">Icon</div>
										</div>
										<div class="col-lg-2 d-flex flex-column pe-1 justify-content-center">
											<div class="text-muted text-small cursor-pointer sort" data-sort="group">STATUS</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					@foreach (var item in Model.Items)
					{
						count++;
						<div class="card mb-2">
							<div class="row g-0 h-100 sh-lg-9 position-relative">
								
								<div class="col py-4 py-lg-0">
									<div class="ps-5 pe-4 h-100">
										<div class="row g-0 h-100 align-content-center">
											<div class="col-12 col-lg-3 d-flex flex-column pe-1 mb-2 mb-lg-0 justify-content-center order-4">
												<div class="lh-1 text-alternate">@count</div>
											</div>
											<a href="Products.Detail.html" class="col-11 col-lg-4 d-flex flex-column mb-lg-0 mb-3 pe-3 d-flex order-1 h-lg-100 justify-content-center">
												@item.Name
												<div class="text-small text-muted text-truncate position">#2342</div>
											</a>
											
											<div class="col-12 col-lg-3 d-flex flex-column pe-1 mb-2 mb-lg-0 justify-content-center order-4">
												<div class="lh-1 text-alternate">@item.Icon</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					}

				</div>
			</div>
			<div class="w-100 d-flex justify-content-center">
				<nav>
					<ul class="pagination">
						<li class="page-item @(Model.CurrentPage<=1 ? "disabled" : "active")">
							<a class="page-link shadow" asp-route-page="@(Model.CurrentPage-1)" asp-action="index" asp-controller="category">Previous</a>
								<i data-acorn-icon="chevron-left"></i>
							</a>
						</li>
						@for (int i = 0; i < Model.TotalPage; i++)
						{
							<li class="page-item @(Model.CurrentPage-1==i ? "btn-success active" : "")">
								<a class="page-link shadow" asp-route-page="@(i+1)" asp-action="index" asp-controller="category">@(i + 1)</a>
							</li>
						}
						
						<li class="page-item @(Model.TotalPage==Model.CurrentPage ? "disabled" : "active")">
							<a class="page-link shadow" asp-route-page="@(Model.CurrentPage+1)" asp-action="index" asp-controller="category">Next</a>
								<i data-acorn-icon="chevron-right"></i>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</main>
